
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Poppins:wght@200;300;400;500;600;800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header {
    height: fit-content;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 2rem;
}

header .desc h1 {
    color: #272727;
font-size: 80px;
font-weight: 800;
}
header .desc p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 1rem 0;

}
header .desc button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
padding: 20px 42px;
border-radius: 8px;
background: #E55473;
border: none;
cursor: pointer;
}

/* header section complate */

.featuredFlower {
width: 100vw;
height: fit-content;
display: flex;
flex-direction: column;
justify-content: center;
padding-bottom: 100px;
}

.flowerDesc {
text-align: center;
padding-top: 90px;
}
.flowerDesc h3 {
    color: #272727;
font-size: 40px;
font-weight: 800;
padding: 1rem;
}
.flowerDesc p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 0.9rem;
}
.flowerImg{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
gap: 1rem;
flex-wrap: wrap;
margin-bottom: 3.8rem;
}
.imgRedius1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 0 75px;
    padding-top: 102px;
    box-sizing: border-box;
    width: 450px;
height: 530px;
text-align: center;
}

.imgRedius2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 45px;
    box-sizing: border-box;
    width: 450px;
height: 530px;
text-align: center;
}
.imgRedius3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 0 70px;
    padding-top: 60px;
   
    box-sizing: border-box;
    width: 450px;
    height: 530px;
    text-align: center;
}
.middleImg {
    padding-top: 52px;
}
.flowerImg p {
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
margin-top: 20px;
}
/* featured flowers section complate */