
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Poppins:wght@200;300;400;500;600;800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header {
    height: fit-content;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 1.8rem;
}

header .desc h1 {
    color: #272727;
font-size: 75px;
font-weight: 800;
}
header .desc p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 1rem 0;

}
header .desc button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
padding: 20px 42px;
border-radius: 8px;
background: #E55473;
border: none;
cursor: pointer;
}

/* header section complate */

.featuredFlower {
width: 100vw;
height: fit-content;
display: flex;
flex-direction: column;
justify-content: center;
padding-bottom: 100px;
}

.flowerDesc {
text-align: center;
padding-top: 90px;
}
.flowerDesc h3 {
    color: #272727;
font-size: 40px;
font-weight: 800;
padding: 1rem;
}
.flowerDesc p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 0.9rem;
}
.flowerImg{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
gap: 1rem;
flex-wrap: wrap;
margin-bottom: 3.8rem;
}
.imgRedius1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 0 75px;
    padding-top: 102px;
    box-sizing: border-box;
    width: 450px;
height: 530px;
text-align: center;
}

.imgRedius2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 45px;
    box-sizing: border-box;
    width: 450px;
height: 530px;
text-align: center;
}
.imgRedius3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 0 70px;
    padding-top: 60px;
   
    box-sizing: border-box;
    width: 450px;
    height: 530px;
    text-align: center;
}
.middleImg {
    padding-top: 52px;
}
.flowerImg p {
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
margin-top: 20px;
}
/* featured flowers section complate */

.facilities {
    margin: 0 240px;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
display: flex;
justify-content: center;
gap: 3rem;
height: 320px;
align-items: center;
margin-bottom: 80px
}
.facility {
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 20px;
font-weight: 600;
line-height: 35px;
}

/* added our facilities */

.offer {
width: 100vw;
height: 600px;
display: flex;
justify-content: center;
gap: 2rem;
align-items: center;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
flex-wrap: wrap;
margin-bottom: 50px;
}
.offerDescrtiption {
text-align: center;
width: 594px;
}
.offerDescrtiption h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.offerDescrtiption p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 1rem 0;
}
.offerDescrtiption button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding: 18px 36px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    cursor: pointer;
}

/* offer section done */

.instagram {
    margin: 50px 0;
}


.instagram h3{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;

}
.instagram p {
    width: 590px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 1rem auto;
}

.instaImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}
.instaImages img{
    width: 300px;
    height: 350px;
    box-shadow: rgba(136, 130, 130, 0.1) 0px 4px 10px;
}
/* instagram section complate */